.navbar {
  width: 17%;
  min-height: 100vh; /* Asegura que la barra de navegación tenga al menos el alto de la ventana */
  background-color: #eeeeee;
  position: fixed;
  display: flex; /* Habilita flexbox para este contenedor */
  flex-direction: column; /* Los elementos hijos se apilan verticalmente */
  justify-content: center; 
  padding: 0; 
}

.navbarList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Opcional: Esto asegura que los elementos de la lista usen todo el ancho disponible */
}

.navbarItem {
  margin-bottom: 10px;
  padding: 0px 0 10px 30px;
}



.navbarLink {
  display: block; /* Mantiene el bloque completo, pero puedes cambiarlo a flex si necesitas más control */
  padding: 10px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%; /* Asegura que el enlace use todo el ancho */
  text-align: left; /* Asegura que cualquier texto adicional esté alineado a la izquierda */
}

/* Asegúrate de que los estilos del hover se mantengan como deseas */
.navbarLink:hover {
  background: #56BB91;
  color: #000000;
  transform: scale(1.1);
  border-left: #3f6f5b 8px solid;
}

/* Puede que necesites ajustar el estilo para la imagen dentro del enlace para asegurar que se vea bien con el hover */
.navbarLink img {
  transition: transform 0.3s; /* Si quieres un efecto suave al escalar la imagen */
}

.navbarLink:hover img {
  transform: scale(1.05); /* Ejemplo de escalar la imagen ligeramente al hacer hover */
}


.navbarLink.active {
  background-color: rgb(63, 191, 160);
}

.centered-content {
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 77%;
  padding: 20px;
}

.centered-right {
  position: fixed;
  height: 10vh;
  padding: 20px;
}



.link-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  justify-content: center;
}

.link-container li {
  margin-right: 0px;
}

.link-container li:last-child {
  margin-right: 0px;
}


.link-container a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 11px;
  color: rgb(12, 12, 12);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.link-container a:hover {
  background-color: rgb(100, 99, 99);
  color: rgb(255, 255, 255);
}

.logo {
  margin: 0 20px 0 20px; 
}