:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    background: rgb(63,191,160);
    background: radial-gradient(circle, rgba(63,191,160,1) 0%, rgba(187,255,238,1) 100%);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1000vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
  }
}

p{
  animation: bounce; 
  animation-duration: 2s; 

}

.vertical-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100vh;
  background-color: #1a1818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.vertical-link-container {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.vertical-link-container li {
  margin-bottom: 10px;
}

.vertical-link-container a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 10px; 
}

.vertical-link-container a:hover {
  background-color: #56BB91; 
}

.vertical-link-container a.active {
  background-color: #56BB91; 
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 20px; 
}

.centered-right {
  display: flex;
  height: 10vh; 
  padding: 20px;
} 

.link-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.link-container li {
  margin-right: 10px; 
}

.link-container li:last-child {
  margin-right: 0; 
}


.link-container a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid rgb(100, 99, 99);
  border-radius: 11px;
  color: rgb(100, 99, 99);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.link-container a:hover {
  background-color: rgb(100, 99, 99);
  color: rgb(255, 255, 255);
}

.box {
  flex: 1;
  border: 1px solid #ccc;
  margin-right: 100px;
  cursor: pointer;
  transition: margin-right 0.3s;
}

.box h2 {
  margin: 0;
  padding: 10px;
  
}

.box p {
  margin: 0;
  padding: 10px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.box h2 {
  margin-top: 0;
}

.box p {
  margin-bottom: 0;
}

.contenedor {
  width: 550px;
  height: 600px;
  background-color: #343434;
  border-radius: 20px;
  margin: 0 auto;
}

.letraTitulosBlanco {
  color: #ffffff;
  font-size: 70px;
  font-family: 'Impact', sans-serif;
  margin-left: -200px;
}

.letraTitulosVerde {
  color: #64FCDD;
  font-size: 70px;
  font-family: 'Impact', sans-serif;
  margin-top: -50px;
  margin-left: 150px;
}

.letraNormal {
  color: #64FCDD;
  font-size: 18px;
  font-family: 'Times New Roman', sans-serif;
  margin-left: 25px;
  margin-right: 25px;
}

.pMargin {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Times New Roman', sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -50px;
  margin-bottom: -50;
}

.textbox {
  width: 500px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: -50px;
}

.textboxMid {
  width: 140px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: -50px;
}

.botonPago {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #64FCDD;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
