
.formcontainer {
    background-color: #2f2f2c;
    margin-left: 17%;
    width: 83%;
    min-height: 100vh;
    padding: 30px;

  }
  
  .formcontainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .formcontainer label {
    display: flex;
    flex-direction: column;
  }
  
  .formcontainer input {
    padding: 5px;
    font-size: 16px;
  }
  
  .formcontainer button {
    padding: 8px;
    font-size: 16px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .formcontainer button:hover {
    background-color: #0058c5;
  }
  