@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* inventary.module.css */
.pageLayout {
    display: flex;
}

.Container {
    background-color: #2f2f2c;
    margin-left: 17%;
    width: 83%;
    min-height: 100vh;
    padding: 30px;
}

.contenido {
    width: 80%;
    min-height: 90vh;
    margin: 0 auto;
    border-radius: 30px;
    padding: 35px;
    background-color: #414141;
    display: flex;
}

.titulo {
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36pt;
    margin: 0;
    padding: 0;
}

.listado {
    width: 50%;
    padding: 20px;
}

.producto {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 0px 5px -1px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 1px 0px 5px -1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px 0px 5px -1px rgba(255, 255, 255, 1);
}

.productoInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Asegúrate de que el contenedor .productoInfo tenga el margen o padding que necesitas */
    margin-left: 10px;
    /* ajusta esto según tus necesidades */
}

/* Estilos opcionales para el nombre y cantidad si lo necesitas */
.producto p,
.producto span {
    margin: 0;
    padding: 2px 0;
    /* agrega espacio vertical si es necesario */
    color: #3FBFA0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
}


.detalle {
    position: relative;
    /* Establece la posición relativa para posicionar absolutamente la descripción */
    width: 50%;
    max-height: 78vh;
    /* Establece la altura máxima de la imagen */
    overflow: hidden;
    /* Asegúrate de que nada se desborde del contenedor */
}

.detalle img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.info {
    position: absolute;
    top: 0; /* Cambiado de bottom a top */
    left: 0;
    right: 0;
    background-color: white;
    /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));*/
    background-color: white;

    transform: translateY(-100%); /* Ajustado para esconder la información hacia arriba */
    transition: transform 0.3s ease-in-out;
}

.detalle:hover .info {
    transform: translateY(0); /* Hace que la información se deslice hacia abajo al hacer hover */
}

.info {
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Puedes añadir más estilos aquí según necesites */
}